<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>WishList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    @if (wishlist.productos().length === 0) {
      <ion-item>
        <ion-label>Tu lista está vacía</ion-label>
      </ion-item>
    } @else {
      @for (p of wishlist.productos(); track p.id) {
        <ion-item lines="full">
          <ion-button fill="clear" expand="block" class="wishlist-btn" (click)="toggle(p.id)">
            <div class="wishlist-row">

              <ion-thumbnail class="thumb">
                <img [src]="p.img" />
              </ion-thumbnail>

              <span class="wishlist-text">{{ p.nombre }}</span>

              <div class="right">
                <span class="wishlist-precio">$ {{ p.precio }}</span>

                @if (seleccionado(p.id)) {
                  <ion-icon name="checkmark-circle"></ion-icon>
                }
              </div>

            </div>
          </ion-button>
        </ion-item>
      }
    }

  </ion-list>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      @if (wishlist.total() === 0) {
        Total a pagar: $0
      } @else {
        Total a pagar: $ {{ wishlist.total() }}
      }
    </ion-title>
  </ion-toolbar>
</ion-footer>
